body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif !important;
  background-color: #e5e5e5;
}

body,
span {
  font-family: "Inter", sans-serif !important;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: black;
}

.top-app-bar {
  background-color: #212121;
}

/*
.mdc-top-app-bar__row {
  height: 56px !important;
}
*/

.header-title {
  text-decoration: none;
  color: #ffffff;
}

.conference-viz-icon {
  color: #424242;
}

.typography {
  font-size: 14px;
}

.icon {
  position: relative;
  font-size: 30px;
  margin-right: 5px;
  top: 6px;
}

.card-cell {
  border-radius: 6px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
}
