$font: "Inter", sans-serif !important;
$font-color: #000000;
$link-color: #4c959a;
$body-background-color: #e5e5e5;
$card-background-color: #ffffff;
$card-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  background-color: $body-background-color;
  color: $font-color;
}

body,
span {
  font-family: $font;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p {
  line-height: 24px;
  word-wrap: break-word;
  color: $font-color;
}

.link {
  text-decoration: none;
  color: $link-color;
}

.top-app-bar {
  background-color: #212121;
}

.header-title {
  display: flex;
  text-decoration: none;
  color: #ffffff !important;
  align-content: space-between;
}

.logo {
  width: 34px;
  height: 34px;
  margin: 2px 12px 0px 0px;
}

.icon {
  position: relative;
  font-size: 30px;
  margin-right: 5px;
  top: 6px;
}

/* cards */

.card {
  border-radius: 6px;
  box-shadow: $card-box-shadow;
  background: $card-background-color;
  padding: 18px 24px;
}

.word-cloud-card {
  border-radius: 6px;
  box-shadow: $card-box-shadow;
  background: $card-background-color;
  padding: 18px 18px 0px 18px;
}

.details-card {
  border-radius: 6px;
  box-shadow: $card-box-shadow;
  background: $card-background-color;
  padding: 18px 18px;
}

.acceptance-rate-card {
  border-radius: 6px;
  box-shadow: $card-box-shadow;
  background: $card-background-color;
  padding: 24px 18px 24px 8px;
}

.keywords-card {
  border-radius: 6px;
  box-shadow: $card-box-shadow;
  background: $card-background-color;
  padding: 24px 24px;
}

.papers-card {
  border-radius: 6px;
  box-shadow: $card-box-shadow;
  background: #ffffff;
  margin-bottom: 12px;
  padding: 8px 16px;
}

.description,
.authors {
  color: rgba(0, 0, 0, 0.66);
}

/* loading */

.loading {
  width: 320px;
}
.mdc-linear-progress__bar-inner {
  border-color: #4c959a !important;
}

.image {
  width: 18%;
}

@media only screen and (max-width: 620px) {
  .image {
    width: 36%;
  }
}
