@import "carbon-components/scss/globals/scss/styles.scss";
@import "~react-vis/dist/style";

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.bx--header__name {
  font-size: 125% !important;
}

.text-underline {
  border-bottom: 1px solid $hover-row;
  padding-bottom: 8px;
}

.footer {
  background-color: #fafafa;
  bottom: 0;
}
